body {
    width: 100vw;
}
.appLauncher {
    width: 20px;
    height: auto;
    margin: 5px 0 0 20px;
    
}
.myAvatar {
    width: 30%;
    height: auto;
    border-radius: 50%;
    margin-left: 20px;
}
.container {
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.wrapper {
    width: 80%;
}
.child {
    width: 20%;
    display: flex;
    
}
.links {
    padding-left: 20px;
}
.links:hover {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(71, 71, 254);
}
/* The search bar styling */
.input-field {
 width: 520px;
 height: 50px;
 border-radius: 200px;
 display: flex;
 margin:25px auto;
 position: relative;
 border: 2px solid lightgrey;
 
}
.mic {
    width: 2%;
    position: absolute;
    left: 65%;
    top: 49%;
}
.search-icon {
    width: 1.5%;
    opacity: 0.5;
    position: absolute;
    left: 32%;
    top: 49.5%;
}
input {
    padding-left: 50px;
    outline: none;
}
.input-field::placeholder {
    font-size: 1rem;
    /* text-indent: 60px; */
}
.google-logo {
 display: flex;
 justify-content: center;
 margin-top: 150px;
}
.info {
    color: rgb(71, 71, 254);
    cursor: pointer;
}
.info:hover {
    text-decoration: underline;
}
.info:hover {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(71, 71, 254);
}
.info {
    background-color: rgb(240, 240, 240);
    width: 120px;
    padding: 7px;
    text-align: center;
    border-radius: 5px;
    color: #1b1c1e;
}
.info-div {
    display: flex;
    justify-content: center;
    gap: 40px;
}
/* Language area */
.language-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    gap: 10px;
    font-size: 1rem;
}
.languages {
    color: rgb(71, 71, 254);
}
.languages:hover {
    cursor: pointer;
    text-decoration: underline;
}
/* Footer region styling */
.footer {
    overflow: hidden;
    width: 100vw;
    height: 80px;
    margin-top: 132px;
    background-color: rgb(240, 240, 240);
}
.services-div {
    display: flex;
}
.country {
    padding: 10px;
}
.services {
    padding: 10px;
}
.services:hover {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(71, 71, 254);
}
.middle, .right {
    display: flex;
    justify-content: center;
}
.right {
  margin-left: 450px;  
}
.copywright-logo {
    width: 6%;
    margin: 15px 0 0 200px;
}
.searched {
    text-align: center;
}